.viñetaGeneral{
    width: 1700px;
    height: 1800px;
    border: solid 3px rgb(0, 0, 0);
    margin: auto;
}

h1 {
    width: 1600px;
    height: auto;
    border: solid 3px rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 5px;
    margin: 20px auto;
    text-align: center;
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;

}

.viñetaImagen{
    text-align: center;
}
.foto {
    width: 1600px;
    height: 600px;
    border: solid 3px rgb(0, 0, 0);
    object-fit: contain;
    box-shadow: 5px 5px 5px 5px;
}

/* plantear viñetas como si fuera un comic/*